<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [count]="totalComment | number" [icon]="'fa-comments'" [label]="'Bình luận!'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [count]="totalKbs | number" [icon]="'fa-tasks'" [label]="'Bài viết mới!'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat
                [bgClass]="'success'"
                [count]="totalReport | number"
                [icon]="'fa-shopping-cart'"
                [label]="'Báo xấu!'"
            ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [count]="totalMember | number" [icon]="'fa-support'" [label]="'Thành viên!'"></app-stat>
        </div>
    </div>
    <hr />
</div>
